@charset "UTF-8";
:root {
  --main-title-color: #D9D9D9;
  --second-title-color: #212121;
  --first-text-color: #212121;
  --second-text-color: #333333;
  --third-text-color: #BDBDBD;
  --accent-color: #DCDCDC;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "TT Hoves";
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.container {
  width: 1440px;
  padding-left: 135px;
  padding-right: 135px;
  margin: 0 auto;
}

.logo {
  width: 70px;
  height: 44px;
}

.nav {
  padding-right: 134px;
}

.nav__list {
  cursor: pointer;
  height: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.nav__item {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav__link {
  color: var(--second-text-color);
}

.nav__link.nav--active::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid black;
}

.nav__link.nav--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
}

.nav__link:hover {
  color: var(--third-text-color);
}

.nav__link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
}

.btn-arrow {
  background-color: white;
  border: 1px solid #F2F2F2;
  width: 53px;
  height: 53px;
}
.btn-arrow svg {
  width: 24px;
  height: 24px;
}

.btn-arrow:hover {
  background-color: var(--accent-color);
}

.btn {
  width: 222px;
  height: 71px;
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  color: var(--second-text-color);
}
.btn svg {
  width: 24px;
  height: 24px;
}

.btn:hover {
  background-color: var(--accent-color);
}

.form__container {
  width: 391px;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form__wrap {
  margin-bottom: 10px;
}

.wrap-space {
  margin-bottom: 22px;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 21px;
  border: none;
  outline: none;
  background-color: #F3F3F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  background: var(--accent-color);
}

.form__box {
  position: relative;
}

.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.comment--textarea {
  position: relative;
  height: 147px;
  padding-top: 14px;
}

.required-star {
  position: absolute;
  top: 0;
  right: 5px;
  color: red;
}

.form__btn {
  background-color: black;
  color: white;
}
.form__btn svg {
  fill: white;
}

.check__input {
  cursor: pointer;
}

.check__box {
  cursor: pointer;
}

.info {
  display: flex;
  gap: 157px;
  margin-right: 90px;
}

.info__left {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.info__right {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.info__title {
  font-size: 16px;
  font-weight: 800;
}

.info__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info__link {
  color: white;
}

.info__link:hover {
  color: var(--third-text-color);
}

.info-contact__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.info-contact__link {
  display: flex;
  align-items: center;
  gap: 19px;
  color: white;
}
.info-contact__link svg {
  fill: white;
}
.info-contact__link p {
  line-height: 21px;
}

.info-contact__link:hover {
  color: var(--third-text-color);
}
.info-contact__link:hover svg {
  fill: var(--third-text-color);
}

.social {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.social__title {
  font-size: 16px;
  font-weight: 800;
}

.social__list {
  display: flex;
  gap: 40px;
}

.social__link svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.social__link:hover svg {
  fill: var(--third-text-color);
}

.copyright__box {
  border-top: 1px solid #C8C8C8;
}

.copyright {
  color: #C8C8C8;
  text-align: center;
  padding-top: 24px;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 12px;
}

.header__block--logo {
  margin-right: 330px;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.hero__block {
  margin-top: 336px;
}

.hero__title {
  color: var(--main-title-color);
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 90px;
}

.hero__title-color {
  color: var(--second-title-color);
  font-weight: 800;
}

.hero__button--right {
  margin-bottom: 90px;
}

.hero__number {
  font-size: 24px;
  word-spacing: 26px;
  color: var(--third-text-color);
}

.hero__img-block {
  position: relative;
}

.hero__btn {
  position: absolute;
  left: 0;
  bottom: 0;
}

.about {
  height: 435px;
  background-color: #FBFBFB;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 70px;
  display: flex;
  gap: 30px;
  margin-bottom: 150px;
}

.about__block-img {
  display: flex;
  gap: 30px;
}

.about__block-img--left {
  position: relative;
}

.about__img {
  position: absolute;
  left: 0;
  bottom: -30px;
}

.about__block-img--right {
  display: flex;
  align-items: center;
}

.about__block {
  width: 400px;
}

.about__title {
  font-weight: 400;
  font-size: 64px;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.about__text {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
}

.tasks {
  margin-bottom: 120px;
}

.tasks__title {
  font-size: 64px;
  color: var(--main-title-color);
  margin-bottom: 60px;
}

.tasks__list {
  display: flex;
  justify-content: space-between;
  gap: 187px;
}

.tasks__item {
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.tasks__numb {
  display: block;
  font-size: 200px;
  font-weight: 800;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf/SF-Pro-Display-Black.ttf") format("ttf");
}

.tasks__text {
  line-height: 36px;
  font-size: 22px;
}

.tasks__text-left {
  width: 279px;
}

.project {
  margin-bottom: 170px;
}

.project__title {
  font-size: 64px;
  color: var(--main-title-color);
  margin-bottom: 60px;
}

.project__box-top {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.project__img-box {
  position: relative;
  display: inline-block;
}

.project__img-box img {
  display: block;
  transition: filter 0.3s ease;
}

.project__img-box::after {
  content: "ДОСУГОВЫЙ ЦЕНТР";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 64px;
  font-weight: 800;
  opacity: 0;
  pointer-events: none;
}

.project__img-box:hover img {
  filter: grayscale(100%);
}

.project__img-box:hover::after {
  opacity: 1;
}

.project__img {
  cursor: pointer;
}
.project__img :hover {
  position: absolute;
  background-color: black;
}

.project__link {
  display: none;
  position: absolute;
}

.project__img-box:hover .project__link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: white;
  font-size: 12px;
  left: 70px;
  bottom: 30px;
}
.project__img-box:hover .project__link svg {
  fill: white;
}

.project__box-bottom {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.project__btn-container {
  position: relative;
}

.project__btn {
  position: absolute;
  right: 0;
  background-color: black;
  color: white;
}
.project__btn svg {
  fill: white;
}

.contact {
  margin-bottom: 120px;
}

.contact__title {
  font-size: 64px;
  color: var(--main-title-color);
  margin-bottom: 22px;
}

.contact__box {
  display: flex;
  gap: 30px;
}

.footer__container {
  width: 1440px;
  padding-top: 58px;
  padding-bottom: 24px;
  margin: 0 auto;
  background-color: black;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-left: 116px;
  padding-right: 212px;
  padding-bottom: 60px;
}

.footer__logo {
  margin-right: 99px;
  display: inline-block;
}/*# sourceMappingURL=main.css.map */