.about{
    height: 435px;
    background-color: #FBFBFB;

    padding-top: 30px;
    padding-left: 100px;
    padding-right: 70px;

    display: flex;
    gap: 30px;

    margin-bottom: 150px;

    @media screen and (max-width: 768px) {
        height: 380px;

        padding: 0;
        margin-bottom: 60px;

        gap: 15px;
        }
}

.about__block-img {

    display: flex;

    gap: 30px;
    @media screen and (max-width: 768px) {
        gap: 15px;
        }
}

.about__block-img--left {
    position: relative;
    @media screen and (max-width: 768px) {
        :first-child {
            width: 160px;
            height: 300px;
            }
        }
            @media screen and (max-width: 480px) {
                height: 200px;
                }
}

.about__img{
    position: absolute;
    left: 0;
    bottom: -30px;

    @media screen and (max-width: 480px) {
           bottom: -190px;
        }
}

.about__block-img--right{
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
        img {
            width: 150px;
            height: 250px;
            }
        }
            @media screen and (max-width: 480px) {
                display: none;
            }
    
}

.about__block{
    width: 400px;
}

.about__title{
    font-weight: 400;
    font-size: 64px;
    color: var(--third-text-color);

    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
        font-size: 32px;
        }
}

.about__text{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}