.tasks{
    margin-bottom: 120px;

    @media screen and (max-width: 768px) {
        margin-bottom: 60px;
        }
}

.tasks__title{
    font-size: 64px;
    color: var(--main-title-color);

    margin-bottom: 60px;

    @media screen and (max-width: 768px) {
        font-size: 32px;

        margin-bottom: 30px;
        }
}

.tasks__list{
    display: flex;
    justify-content: space-between;
   
    gap: 187px;

    @media screen and (max-width: 768px) {
            gap: 57px;
        }
}

.tasks__item{
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    

    @media screen and (max-width: 768px) {
            height: 70px;
            gap: 15px;
        }
}

.tasks__numb{
display: block;
font-size: 200px;
font-weight: 800;

    @font-face {
        font-family: "SF Pro Display";
        src: url("/fonts/sf/SF-Pro-Display-Black.ttf") format("ttf");
    }

        @media screen and (max-width: 768px) {
            font-size: 100px;
        }
}

.tasks__text{
   
    line-height: 36px;
    font-size: 22px;

    @media screen and (max-width: 768px) {
            line-height: normal;
            font-size: 16px;
        }
}

.tasks__text-left{
    width: 279px;
}