.nav {
    padding-right: 134px;

    @media screen and (max-width: 768px) {
           padding-right: 0;
        }
}

.nav__list{
    cursor: pointer;
    height: 102px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.nav__item{
    position: relative;
    padding-top: 10px;
        padding-bottom: 10px;
}

.nav__link{
   color: var(--second-text-color);
}

.nav__link.nav--active::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px solid black;
}


.nav__link.nav--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    
}

.nav__link:hover{
    color: var(--third-text-color);
}

.nav__link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
}   