:root {
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --first-text-color: #212121;
    --second-text-color: #757575;
    --third-text-color: #ffffff;
    --accent-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
}