:root {
    --main-title-color: #D9D9D9;
    --second-title-color: #212121;
    --first-text-color: #212121;
    --second-text-color: #333333;
    --third-text-color: #BDBDBD;
    --accent-color: #DCDCDC;
}